*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container{
  height: 600px;
  width: 410px;
  display: flex;
  gap: 35px;
  margin-top: 125px;
  flex-direction: column;
  background-color: #33393E;
  align-items: center;
  justify-content: center;
}

input{
  height: 35px;
  width: 292px;
  padding-left: 5px;
}

select{
  height: 35px;
  width: 300px;
  padding-left: 5px;
}

textarea{
  height: 123px;
  width: 300px;
  padding: 5px;
}

h1{
  color: #FEC008;
  position: relative;
  left: -65px;
  top: 30px;
}

label{
  color: white;
}

#submit{
  height: 35px;
  width: 74px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: black;
  background-color: #FEC008;
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}